name = "vmailc"
main = "worker/src/index.ts"

# 打包配置
minify = true
compatibility_flags = [ "nodejs_compat" ]
compatibility_date = "2025-03-01"
keep_vars = true

# 启用 D1 数据库
[[d1_databases]]
binding = "DB"
database_name = "vmail"
database_id = "7cb3167a-cb9a-4be0-8cf4-4e090ded780b"
# fix: 将迁移目录直接配置在这里，这是 D1 自动迁移的标准做法
migrations_dir = "worker/drizzle"

# 定义环境变量和密钥
[vars]
EMAIL_DOMAIN = "24h.093184.xyz"
TURNSTILE_KEY = "0x4AAAAAACV_SB46vfzHjCVH"
COOKIES_SECRET = "${COOKIES_SECRET}"
TURNSTILE_SECRET = "0x4AAAAAACV_SCxRSajlQzORphyRliY3FNk"

# 配置邮件处理
[triggers]
crons = ["0 * * * *"] # 每小时运行一次清理任务

# 构建配置
[build]
command = "pnpm run build"

# 静态资源配置
[assets]
binding = "ASSETS"
directory = "frontend/build/client"